* {
    margin: 0;
    padding: 0;
}

div.all-playlists-page {
    background: #ACACC4;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

header.all-playlists-page {
    position: fixed;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255, 0.3) 0%, rgba(255,255,255,0) 100%);
}

#log_out, #user_info {
    width: auto;
    height: 60px;
    border: none;
    background-color: #786AB3;
    color: white;
    font-family: 'Comfortaa', cursive;
    -webkit-border-radius: 50px;
    font-size: 30px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 0 0 3px white;
}

#log_out {
    float: right;
}

#user_info {
    float: left;
    align-items: center;
    display: flex;
}

#user_icon {
    border-radius: 50%;
    margin-right: 10px;
    float: left;
}

.grid-container {
    justify-content: center;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    min-height: 100vh;
    grid-gap: 120px;
    padding-top: 120px;
    padding-bottom: 15px;
}

.grid-item {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.grid-item:hover {filter: brightness(110%);}

.playlist-name {
    color: white;
    text-shadow: 3px 2px 2px black;
}

.album-cover {
    width: 500px;
    height: 500px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.35);
    margin-bottom: 10px;
}

.playlists_title {
    font-size: 50px;
    padding-top: 150px;
    text-shadow: 3px 3px 3px black;
    color: white;
    font-family: 'Comfortaa', cursive;
}
