div.selected-playlist-page {
    background-color: #FF7C30;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.50), rgba(138, 51, 51, 0.67)), url(img/background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    display: block;
    height: 100vh;
    width: 100vw;
}

button.side-options {
    width: 450px;
    height: 60px;
    border: none;
    background-color: #DF8661;
    color: white;
    font-family: 'Comfortaa', cursive;
    -webkit-border-radius: 50px;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;

    box-shadow: 1px 1px 3px gray;
    display: block;
    margin-left: 15px;
    margin-bottom: 15px;
}

#side-options-container {
    display: block;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: 10px;
}

.playlist-info {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    position: relative;
    margin-left: auto;
}

#playlist-name {
    color: white;
    text-shadow: 3px 2px 2px black;
}

#playlist-cover {
    width: 640px;
    height: 640px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.35);
    margin-bottom: 10px;
}

#playlist-page-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
    font-size: 12px;
    background-color: bisque;
}
.modal > .header {
    color: black;
    font-family: 'Comfortaa', cursive;
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding: 5px;
}
.modal > .content {
    width: 100%;
    padding: 10px 5px;
}
.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}
.actions > .button {
    width: 450px;
    height: 60px;
    border: none;
    background-color: #DF8661;
    color: white;
    font-family: 'Comfortaa', cursive;
    -webkit-border-radius: 50px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;

    box-shadow: 1px 1px 3px gray;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

#myimage {
    margin-right: 15px;
    max-width: 300px;
    max-height: 300px;
}

#myInput {
    margin-left: 15px;
}