

div.selected-playlist-page {
    background: #ACACC4;
    background-size: cover;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    display: block;
    height: 100vh;
    width: 100%;
    position: fixed;
}

button {
    background-color: #645895;
    color: white;
    font-family: 'Comfortaa', cursive;
    box-shadow: 0 0 0 3px white;
    -webkit-border-radius: 50px;
    font-size: 30px;
}

button.side-options {
    width: 450px;
    height: 60px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;

    display: block;
    margin-left: 15px;
    margin-bottom: 15px;
}

#side-options-container {
    display: block;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: 10px;
}

.playlist-info {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    position: relative;
    margin-left: auto;
}

#playlist-name {
    color: white;
    text-shadow: 3px 2px 2px black;
}

#playlist-cover {
    width: 640px;
    height: 640px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.35);
    margin-bottom: 10px;
}

#playlist-page-container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: #645895;
    border-radius: 18px;
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.modal > .header {
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}
.modal > .content {
    width: 100%;
    padding: 10px 5px;
    display: flex;
    align-items: center;
}

.modal > input {
    width: 100%;
    margin: 15px 15px;
}

.modal > .actions {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: auto;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 0 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    border-radius: 18px;
    border: 1px solid #cfcece;
}
.actions > .button {
    width: 450px;
    height: 60px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

#myimage {
    margin-right: 15px;
    width: 300px;
    height: 300px;
    object-fit:scale-down;
}

#myInput {
    margin-left: 15px;
}

#nameInput{
    width: 450px;
    height: 60px;
    border: none;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    -webkit-border-radius: 50px;
    font-size: 30px;
}

#edit_title{
    padding-top: 100px;
    padding-bottom: 50px;
}

#page-mask {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}